.pageNumbers{
    list-style: none;
    display: flex;
    color: darkgray;
}
.pageNumbersLi{
    padding: 5px;
    border: 1px solid darkgray;
    cursor: pointer;
    
}

.pageNumbersLi:hover{
    color: #ffee10;
  
  text-shadow: 0 0 5px #ffee10;
}
.pageNumbersLi:hover::before{
    transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}
